body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#error-page {
  text-align: center;
  margin: auto;
  width: 90%;
  padding: 50px;
  font-family: "Lexend Deca", sans-serif;
  color: #2e475d;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#error-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#error-page p {
  margin-bottom: 10px;
}

#error-page i {
  font-style: italic;
  color: #dc3545;
}
